@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,500&family=Source+Code+Pro:wght@300&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Custom Properties */

:root {
	--ff-primary: 'Open Sans', sans-serif;
	--ff-secundary: 'Source Code Pro', monospace;

	--fw-light: 300;
	--fw-regular: 400;
	--fw-bold: 700;

	--color-light: #f6f6f6;
	--color-dark: #333333;
	--color-accent: #ecca4f;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;
}

/* General Styles */

body {
	background-color: var(--color-light);
	color: var(--color-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1;
}

img {
	display: block;
	max-width: 100%;
}

/* Typograghy */

h1,
h2,
h3 {
	line-height: 1.1;
	margin: 0;
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

section {
	padding: 5rem 2rem;
}

nav {
	display: none;
}

header {
	display: none;
}

.intro {
	background-color: var(--color-accent);
	text-align: center;
}

.intro img {
	margin: auto;
	max-width: 300px;
}

.intro__title {
	margin-top: 5rem;
}

.intro__title h1 {
	font-weight: var(--fw-bold);
}

.intro__title h3 {
	font-weight: var(--fw-light);
	font-family: var(--ff-secundary);
}

@media (min-width: 800px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}

	.intro {
		display: flex;
		gap: 5rem;
		justify-content: center;
	}

	.intro img {
		margin: 0;
	}

	.intro__title {
		margin: 0;
		align-self: center;
	}
}
