/* 
https://fonts.google.com/specimen/Merriweather
https://fonts.google.com/specimen/Montserrat
https://fonts.google.com/specimen/Open+Sans

*/

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: #555;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
strong {
  color: #333;
  line-height: 1.5;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h3 {
    font-size: 1.5rem;
}

header {
    padding: 2rem;
    text-align: center;
    background-color: #f5f8fa;
}

.logo {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 700;
}

nav {
    font-family: 'Montserrat', sans-serif;
}

nav a {
    text-decoration: none;
    color: #111;
}

.container {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 45px;
}

.about-me {
    grid-column: 1 / 4;
    margin-bottom: 32px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.166667px;
}

.contact {
    grid-column: 4 / -1;
}

.contact li {
    margin-bottom: 4px;
}

.contact a {
    text-decoration: none;
    color: #111;
}

.contact i {
    margin-right: 10px;
    margin-left: 5px;
    font-size: 1.8rem;
    vertical-align: middle;
}

.wrapper {
    margin: 0 auto;
    max-width: 50em;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.main-nav {
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.main-nav li, .logo {
    padding: 1rem;
}

.horizontal-list li {
    display: inline-block;
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
}

.border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,.125);
}

.main-foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0.5rem;
    border: 1px solid rgba(0,0,0,.125);
    background-color: white;
}

.hero-section h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 3rem;
}

.hero-section h2 {
    margin: 0;
    padding: 0;
    color: #aaa;
    font-size: 1.5rem;
    /* TODO: pick a good serif font for subtitle. */
    font-family: serif;
    font-weight: 400;
}

footer {
    color: #aaa;
    padding: 10px 0;
    font-size: 0.75rem;
}

.copyrights {
    padding-left: 1rem;
}

.copyrights a {
    text-decoration: none;
    color: inherit;
}