@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,500&family=Source+Code+Pro:wght@300&display=swap');

/* ---------------------- */
/* Custom properties      */
/* ---------------------- */

:root {
	/* colors */
	--color-dark: 0 0% 20%;
	--color-light: 0 0% 96%;
	--color-accent: 47 81% 62%;

	/* font-sizes */
	--fs-900: 9.375rem;
	--fs-800: 6.25rem;
	--fs-700: 3.5rem;
	--fs-600: 2rem;
	--fs-500: 1.75rem;
	--fs-400: 1.125rem;
	--fs-300: 1rem;
	--fs-200: 0.875rem;

	/* font-families */
	--ff-serif: 'Open Sans', sans-serif;
	--ff-mono: 'Source Code Pro', monospace;
}

/* ---------------------- */
/* CSS Reset              */
/* ---------------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5 h6,
p,
figure,
picture {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

body {
	font-family: var(--ff-serif);
	font-size: var(--fs-400);
	background-color: hsl(var(--color-dark));
	color: hsl(var(--color-light));
	line-height: 1.5;
	min-height: 100vh;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* remove animation for people who've turned them off */
@media (prefers-reduce-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ---------------------- */
/* Utility classes        */
/* ---------------------- */

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

/* lobotomized owl: https://css-tricks.com/lobotomized-owls/ */
.flow > * + * {
	margin-top: var(--flow-space, 1rem);
}

.container {
	padding-inline: 2rem;
	max-width: 80rem;
	margin-inline: auto;
}

/* colors */

.bg-dark {
	background-color: hsl(var(--color-dark));
}

.bg-light {
	background-color: hsl(var(--color-light));
}

.bg-accent {
	background-color: hsl(var(--color-accent));
}

.text-dark {
	color: hsl(var(--color-dark));
}

.text-light {
	color: hsl(var(--color-light));
}

.text-accent {
	color: hsl(var(--color-accent));
}

/* typography */

.ff-serif {
	font-family: var(--ff-serif);
}
.ff-mono {
	font-family: var(--ff-mono);
}

.letter-spacing-1 {
	letter-spacing: 4.75px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}

.fs-900 {
	font-size: var(--fs-900);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-200 {
	font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 1.1;
}

.number-title {
	font-family: var(--ff-mono);
	font-size: var(--fs-500);
	text-transform: uppercase;
	letter-spacing: 4.72px;
}

.number-title span {
	margin-right: 0.5em;
	font-weight: 700;
	color: hsl(var(--color-light) / 0.25);
}
